<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Categories</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts' %}">Accounts</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <li><a href="{% url 'home' %}">Receipts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Accounts
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account_obj in accounts %}
                        <tr>
                            <td>{{ account_obj.name }}</td>
                            <td>{{ account_obj.number }}</td>
                            <!-- Display length of list of all account objects linked
                            with this number's foreign key value -->
                            <td>{{ account_obj.receipts.all|length }}</td>
                            <!-- w/ ^foreign key ^objects ^list ^length of list -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </h1>
    </main>
</body>
</html>
